<div class="row footer-matter">
	<div class="col-md-11">
	<p class="questions">Questions about registration? Email <a href="mailto:ahgcampgtr@gmail.com">Camp Director</a>.<p>
	<p class="copyright">Camp registration information will be maintained in accordance with the scouting organization's privacy policies.</p>
	<p class="copyright">Developed, and license to use web application donated by, Idaria Software.
	For questions about web application, please contact <a href="mailto:abwinkler999+ahg@gmail.com">Idaria Software</a>.</p>
	</div>
</div>
