<h2>Girls registered for camp:</h2>
<% current_user.girls.each { |x| %>
<h3>* <%= "#{x.first_name} #{x.last_name}" %></h3>
<% } %>
<%= link_to "Register a Girl", new_girl_path, class: "btn btn-default login-buttons" %>