<% @admin_display = false %>
<div id="girls_list_block">
<h3>Girls Registered For Camp Marengo 2015</h3>
<%= render "girl_table" %>
<%= link_to "Register Another Girl", new_girl_path, class: "btn btn-success" %>
</div>