<% @admin_display = false %>
<div id="girls_list_block">
<h3>Your Girls Registered For Camp Scioto 2015</h3>
<%= render "girl_table", admin_display: false %>
<%= link_to "Register Another Girl", new_girl_path, class: "btn btn-success" %>
</div>
