<% if nil %>
<div class="row mainblock">
	<div class="row">
		<div class="col-md-12">
		<%= render "parentblock" %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<%= render "girlsblock" %>
		</div>
	</div>
</div>
<% else %>
<div id="please_sign_in">
	<div class="row">
		<div class="col-md-12">
			<h3>Registration is now closed.  Please contact the <a href="mailto:ahgcampgtr@gmail.com">Camp Director</a> if you have any questions.</h3>
		</div>
	</div>
</div>
<% end %>
