<% if user_signed_in? %>
<div class="row mainblock">
	<div class="row">
		<div class="col-md-11 col-md-offset-1">
		<%= render "parentblock" %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-11 col-md-offset-1">
			<%= render 'girlsblock' %>
		</div>
	</div>
</div>
<% else %>
<div id="please_sign_in">
	<h3><span class="glyphicon glyphicon-hand-right"></span>   Please create an account to sign up for Residence Camp and to select your daughter's sessions.</h3>
</div>
<% end %>