<div class="row main_banner">
<h1 class="main_banner_text">American Heritage Girls</h1>
</div>
<div class="row login_row">
	<div class="col-md-12">
		<h4>Login</h4>
	</div>
</div>
<div class="row well">
<h2 class="big_text">Residence Camp 2015 Registration Application</h2>
</div>