<% if user_signed_in? %>
<div class="row mainblock">
	<div class="row">
		<div class="col-md-12">
		<%= render "parentblock" %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<%= render "girlsblock" %>
		</div>
	</div>
</div>
<% else %>
<div id="please_sign_in">
	<h3>Please create an account to register adults and girls for Camp Scioto 2015.</h3>
</div>
<% end %>
