<div class="row main_banner">
<h1 class="main_banner_text">American Heritage Girls</h1>
</div>
<div class="row login_row">
	<div class="col-md-12">
	<div class="login_signup">
	<% if user_signed_in? %>
	<h4><%= link_to "Logout", destroy_user_session_path, :method => :delete %> </h4>
	<% else %>
		<h4><%= link_to "Login", new_user_session_path %></h4>
		<H4><%= link_to "Sign Up!", new_user_registration_path %></h4>
	<% end %>
	</div>
	</div>
</div>
<div class="row well">
<h2 class="big_text">Residence Camp 2015 Registration Application</h2>
</div>
<% if user_signed_in? %>
<div class="col-md-12">
<h1>only see this if logged in</h1>
</div>
<% else %>
<div id="please_sign_in">
	<h3><span class="glyphicon glyphicon-hand-right"></span>   Please create an account to sign up for Residence Camp and to select your daughter's sessions.</h3>
</div>
<% end %>