<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Thank you for registering for Greater Than Rubies Summer Camp 2016!    Payment for camping is to be made to your Troop Coordinator; all payments are due before <strong>NEED DATE</strong>. %></p>
    <p>
	Registration closes <strong>NEED DATE</strong>; after this date, the online registration system will be closed.
    </p>
    <p>
      Camp Dates:
    </p>
    <p>
    Tenderheart Session:  July 10 - July 13<br/>
	Explorer, Pioneer, and Patriot Sessions:  July 10 - July 15
	</p>
    <p>Please direct any further questions to the Greater Than Rubies Summer Camp 2016 Planning Committee at: NEED ADDRESS
    </p>
  </body>
</html>
