<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Thank you for registering for AHG Summer Camp Marengo 2015!    Payment for camping is to be made to your Troop Coordinator; all payments are due before <strong>May 15, 2015</strong>. %></p>
    <p>
	Registration closes <strong>May 1, 2015</strong>; after this date, the online registration system will be closed.
    </p>
    <p>
      Camp Dates:
    </p>
    <p>
    Tenderheart Session:  Sunday, July 12 - Wednesday, July 15<br/>
	Explorers & Pioneer/Patriots Sessions:  Sunday, July 12 - Friday, July 17
	</p>
    <p>Please direct any further questions to the AHG Summer Camp Marengo Planning Committee at: ahgsummercampmarengo@gmail.com
    </p>
  </body>
</html>