<div class="adultform">
	<h3>Edit Adult Registration</h3>
	<% if @adult.errors.any? %>
		<h3>Errors:</h3>
		<ul>
		<% @adult.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
		</ul>
	<% end %>
	<%= render "adult_form" %>
</div>