<div class="girlform">
	<h3>Register a <%= @girl.level.name %></h3>
	<% if @girl.errors.any? %>
	<h3>Errors:</h3>
	<ul>
	<% @girl.errors.full_messages.each do |msg| %>
	<li><%= msg %></li>
	<% end %>
	</ul>
	<% end %>
	<%= render 'girl_form' %>
</div>
