// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main_banner{
	background-color:red;
	color:white;
}

.login_row{
	background-color:blue;
	#text-align:center;
	#font-variant:small-caps;
	color:white;
	border-top-style:solid;
	border-width:1px;
	border-color:black;
}
.main_banner_text{
	text-align:center;
}

.marengo{
	border-style:solid;
	border-color:blue;
	border-width:6px;
	margin-top:15px;
	width:95%;
	background-color:white;
	color:red;
	#padding:1px;
}
.notice, .alert{
	text-align:center;
	background-color:pink
}

#please_sign_in{
	margin-left:40px;
	margin-top:100px;
	margin-bottom:250px;
}

.login_signup{
	padding-right:30px;
}

.login-buttons{
	margin-top:15px;
	margin-left:5px;
}

h3{
	line-height:80%;
}

.mainblock{
	margin-top:20px;
}

.girlblock{
	background-color:pink;
	padding-left:15px;
	padding-bottom:15px;
}

.parentblock{
	padding-left:45px;
}

#levelblock{
	color:blue;
}

.checkbox{
	font-variant:small-caps;
}