// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main_banner{
	background-color:red;
	color:white;
}

.login_row{
	background-color:blue;
	text-align:right;
	font-variant:small-caps;
	color:white;
}
.main_banner_text{
	text-align:center;
}

.big_text{
	text-align:center;
}

.notice, .alert{
	text-align:center;
	background-color:pink
}

#please_sign_in{
	margin-left:40px;
	margin-top:100px;
}

.login_signup{
	padding-right:30px;
}

h3{
	line-height:80%;
}

.girlblock{
	background-color:pink;
	padding-left:15px;
	padding-bottom:15px;
}

.parentblock{
	padding-left:45px;
}

#levelblock{
	color:blue;
}