// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
			background-color:#E3DEC1;
}
.main_banner{
	background-color:#B94629;
	color:white;
}

.login_row{
	background-color:#E89F65;
	#text-align:center;
	#font-variant:small-caps;
	color:white;
	border-top-style:solid;
	border-width:1px;
	border-color:black;
}
.main_banner_text{
	text-align:center;
	font-size:170%;
}

.marengo{
	border-style:solid;
	border-color:#0054A0;
	border-width:6px;
	margin-top:15px;
	width:95%;
	background-color:#E3DEC1;
	color:#D81E05;
	#padding:1px;
}
.notice, .alert{
	text-align:center;
	background-color:light_green;
}

#please_sign_in{
	margin-left:40px;
	margin-top:100px;
	margin-bottom:250px;
}

.login_signup{
	padding-right:30px;
}

.login-buttons{
	margin-top:10px;
	margin-left:2px;
}

.account-edit-button{
	padding-bottom:5px;
}

.rightshift-button{
	margin-left:40px;
	margin-top:5px;
	margin-bottom:10px;
}

h3{
	line-height:80%;
}

.mainblock{
	#background-color:#E3DEC1;
	margin-top:20px;
}

#girls_list_block{
	padding-left:25px;
}

.girlblock{
	background-color:pink;
	padding-left:15px;
	padding-bottom:15px;
}

.parentblock{
	padding-left:25px;
	padding-bottom:10px;
	border-bottom-style:solid;
	border-width:2px;
}

#levelblock{
	color:blue;
}

.checkbox{
	font-variant:small-caps;
}

.buttons_row{
	padding-top:10px;
	padding-top:5px;
}

.tiny-text{
	font-size:70%;
}

.not-as-tiny-text{
	font-size:85%;
}

.footer-matter{
	background-color:#B94629;
	border-top-style:solid;
	border-width:2px;
	border-color:black;
	margin-top:20px;
	padding-top:10px;
	color:white;
	padding-left:5px;
}

.copyright{
	font-size:65%;
	align:right;
}

.welcome-user{
	text-align:center;
	margin-left:20px;
}
